In [1]:
import pandas as pd
import numpy as np


# pandas max row 
pd.options.display.max_rows = 5000

In [2]:
apt_tra = pd.read_csv('data/3.세종시_아파트(매매)_실거래가.csv', parse_dates = ['계약년월','계약일', '건축년도'])
mulit_tra = pd.read_csv('data/4.세종시_연립다세대(매매)_실거래가.csv')
single_tra = pd.read_csv('data/5.세종시_단독다가구(매매)_실거래가.csv')
offi_tra = pd.read_csv('data/6.세종시_오피스텔(매매)_실거래가.csv')

In [3]:
apt_tra['거래금액(만원)'] = apt_tra['거래금액(만원)'].str.replace(',','').astype('int64')

apt_tra['계약년월일'] = pd.to_datetime(apt_tra['계약년월'] + apt_tra['계약일'], format='%Y%m%d')
apt_tra = apt_tra.drop(columns=['계약일'])

apt_tra['건축년도'] = apt_tra['건축년도'].dt.to_period('Y')

In [4]:
apt_tra.head()

,계약년월,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,계약년월일
0,201701,세종특별자치시 고운동,1401,0,가락마을13단지(대광로제비앙),59.6550,23000,11,2015,NaN,2017-01-19
1,201701,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),84.9894,32000,3,2015,NaN,2017-01-02
2,201701,세종특별자치시 고운동,1395,0,가락마을16단지(에듀그린),84.8788,32500,21,2015,NaN,2017-01-14
3,201701,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),59.9159,25100,7,2015,NaN,2017-01-09
4,201701,세종특별자치시 고운동,1390,0,가락마을21단지(에듀포레),99.9434,32250,3,2015,NaN,2017-01-09

In [6]:
apt_tra['시군구'].unique()

array(['세종특별자치시 고운동', '세종특별자치시 금남면 용포리', '세종특별자치시 나성동', '세종특별자치시 도담동',
       '세종특별자치시 보람동', '세종특별자치시 부강면 부강리', '세종특별자치시 소담동', '세종특별자치시 아름동',
       '세종특별자치시 어진동', '세종특별자치시 연동면 명학리', '세종특별자치시 연서면 봉암리',
       '세종특별자치시 장군면 금암리', '세종특별자치시 전동면 노장리', '세종특별자치시 전의면 동교리',
       '세종특별자치시 조치원읍 남리', '세종특별자치시 조치원읍 번암리', '세종특별자치시 조치원읍 서창리',
       '세종특별자치시 조치원읍 신안리', '세종특별자치시 조치원읍 신흥리', '세종특별자치시 조치원읍 죽림리',
       '세종특별자치시 조치원읍 침산리', '세종특별자치시 종촌동', '세종특별자치시 한솔동',
       '세종특별자치시 전의면 유천리', '세종특별자치시 조치원읍 교리', '세종특별자치시 소정면 운당리',
       '세종특별자치시 새롬동', '세종특별자치시 조치원읍 정리', '세종특별자치시 다정동', '세종특별자치시 대평동',
       '세종특별자치시 조치원읍 원리', '세종특별자치시 반곡동', '세종특별자치시 가람동'], dtype=object)

In [26]:
apt_tra['행정동(읍면리)'] = apt_tra['시군구'].str.replace('세종특별자치시', '')
apt_tra['행정동'] = apt_tra['행정동(읍면리)'].str.split().str[0]

In [27]:
apt_tra.head()

,계약년월,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,계약년월일,행정동(읍면리),행정동
0,201701,세종특별자치시 고운동,1401,0,가락마을13단지(대광로제비앙),59.6550,23000,11,2015,NaN,2017-01-19,고운동,고운동
1,201701,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),84.9894,32000,3,2015,NaN,2017-01-02,고운동,고운동
2,201701,세종특별자치시 고운동,1395,0,가락마을16단지(에듀그린),84.8788,32500,21,2015,NaN,2017-01-14,고운동,고운동
3,201701,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),59.9159,25100,7,2015,NaN,2017-01-09,고운동,고운동
4,201701,세종특별자치시 고운동,1390,0,가락마을21단지(에듀포레),99.9434,32250,3,2015,NaN,2017-01-09,고운동,고운동

In [99]:
apt_tra['행정동'].unique()

array(['고운동', '금남면', '나성동', '도담동', '보람동', '부강면', '소담동', '아름동', '어진동',
       '연동면', '연서면', '장군면', '전동면', '전의면', '조치원읍', '종촌동', '한솔동', '소정면',
       '새롬동', '다정동', '대평동', '반곡동', '가람동'], dtype=object)

In [31]:
apt_cnty = apt_tra.groupby('행정동').mean()[['전용면적(㎡)','거래금액(만원)','층']]

In [84]:
apt_cnty

        전용면적(㎡)      거래금액(만원)          층
행정동
가람동   59.933100  54000.000000   5.000000
고운동   75.812906  34431.779738  10.310988
금남면   52.873269  13959.120370   7.951389
나성동   27.205074  10585.482759   5.682759
다정동   81.698369  62177.157095   9.966216
대평동   84.745504  73175.011976  10.574850
도담동   74.161839  44911.933291  10.904342
반곡동   77.063544  57494.951456   8.067961
보람동   84.261626  65879.284211  10.589474
부강면   58.348387   7851.290323   6.161290
새롬동   80.992821  66054.370662  10.195584
소담동   79.421503  56853.738302  11.202773
소정면   60.480476   6392.857143   6.571429
아름동   85.020698  35044.949764  11.605410
어진동   59.810456  39625.319905   8.016588
연동면   46.472096   6625.719101   4.921348
연서면   70.738062  11966.279070   5.387597
장군면   28.805141   2771.408451   2.633803
전동면   49.380000   5652.380952   2.142857
전의면   56.668365   7903.365385   4.807692
조치원읍  82.511428  16970.891432   7.861848
종촌동   80.286730  39196.429032  12.029032
한솔동   90.959136  40881.186555  10.190724

## 인구 정보

In [38]:
df_pop = pd.read_csv('data/22.세종시_연령별_인구현황.csv')
df_pop.head()

df_pop = df_pop.iloc[1:] #총 세종인구수 제거

In [39]:
df_pop.head()

,읍면동,201701_남자(총_거주자_수),201701_남자(연령구간인구수),201701_남자(0~9세),201701_남자(10~19세),201701_남자(20~29세),201701_남자(30~39세),201701_남자(40~49세),201701_남자(50~59세),201701_남자(60~69세),...,202012_여자(10~19세),202012_여자(20~29세),202012_여자(30~39세),202012_여자(40~49세),202012_여자(50~59세),202012_여자(60~69세),202012_여자(70~79세),202012_여자(80~89세),202012_여자(90~99세),202012_여자(100세_이상)
1,조치원읍,23529,23529,2525,2473,3461,3783,4126,3393,2131,...,2050,2811,2436,3186,3110,2676,1725,930,162,7
2,연기면,1463,1463,56,93,220,176,263,296,203,...,54,156,104,109,210,221,138,102,23,1
3,연동면,1828,1828,87,123,210,228,247,368,318,...,63,112,116,123,245,307,224,212,45,0
4,부강면,3554,3554,235,287,472,505,588,650,396,...,170,255,274,314,457,511,353,251,32,1
5,금남면,5033,5033,263,287,616,620,767,1013,814,...,206,369,354,387,715,836,606,437,91,2

In [78]:
print(df_pop.columns[-312:])

Index(['202001_남자(총_거주자_수)', '202001_남자(연령구간인구수)', '202001_남자(0~9세)',
       '202001_남자(10~19세)', '202001_남자(20~29세)', '202001_남자(30~39세)',
       '202001_남자(40~49세)', '202001_남자(50~59세)', '202001_남자(60~69세)',
       '202001_남자(70~79세)',
       ...
       '202012_여자(10~19세)', '202012_여자(20~29세)', '202012_여자(30~39세)',
       '202012_여자(40~49세)', '202012_여자(50~59세)', '202012_여자(60~69세)',
       '202012_여자(70~79세)', '202012_여자(80~89세)', '202012_여자(90~99세)',
       '202012_여자(100세_이상)'],
      dtype='object', length=312)

In [86]:
pop_2020 = df_pop[['읍면동','202012_남자(총_거주자_수)','202012_여자(총_거주자_수)']]

(20, 3)

In [95]:
pop_2020 = pop_2020.set_index('읍면동')

In [96]:
pop_2020

      202012_남자(총_거주자_수)  202012_여자(총_거주자_수)
읍면동
조치원읍               22136               20653
연기면                 1512                1159
연동면                 1628                1495
부강면                 3412                2784
금남면                 4616                4174
장군면                 3785                2836
연서면                 4046                3388
전의면                 2979                2611
전동면                 1903                1606
소정면                 1278                1131
한솔동                 9431                9777
새롬동                14254               15136
도담동                19118               20339
아름동                11660               11865
종촌동                14327               15209
고운동                16800               17587
소담동                15963               16440
보람동                 9507                9879
대평동                 5454                5514
다정동                13189               14124

In [103]:
for cnty in apt_cnty.index:
    if not cnty in pop_2020.index:
        print(cnty)

가람동
나성동
반곡동
어진동

### 2020년 인구 조사에 포함되지 않은 행정동
가람동
나성동
반곡동
어진동

거래내역에 포함되지 않은 행정동은 일단 지우기로!

In [125]:
apt_cnty = apt_cnty[np.invert(apt_cnty.index.str.contains('가람동|나성동|반곡동|어진동'))]

In [126]:
apt_cnty

        전용면적(㎡)      거래금액(만원)          층
행정동
고운동   75.812906  34431.779738  10.310988
금남면   52.873269  13959.120370   7.951389
다정동   81.698369  62177.157095   9.966216
대평동   84.745504  73175.011976  10.574850
도담동   74.161839  44911.933291  10.904342
보람동   84.261626  65879.284211  10.589474
부강면   58.348387   7851.290323   6.161290
새롬동   80.992821  66054.370662  10.195584
소담동   79.421503  56853.738302  11.202773
소정면   60.480476   6392.857143   6.571429
아름동   85.020698  35044.949764  11.605410
연동면   46.472096   6625.719101   4.921348
연서면   70.738062  11966.279070   5.387597
장군면   28.805141   2771.408451   2.633803
전동면   49.380000   5652.380952   2.142857
전의면   56.668365   7903.365385   4.807692
조치원읍  82.511428  16970.891432   7.861848
종촌동   80.286730  39196.429032  12.029032
한솔동   90.959136  40881.186555  10.190724

In [130]:
cnty_stat = pd.concat([apt_cnty, pop_2020], axis=1, join='inner')
cnty_stat

,전용면적(㎡),거래금액(만원),층,202012_남자(총_거주자_수),202012_여자(총_거주자_수)
고운동,75.812906,34431.779738,10.310988,16800,17587
금남면,52.873269,13959.120370,7.951389,4616,4174
다정동,81.698369,62177.157095,9.966216,13189,14124
대평동,84.745504,73175.011976,10.574850,5454,5514
도담동,74.161839,44911.933291,10.904342,19118,20339
보람동,84.261626,65879.284211,10.589474,9507,9879
부강면,58.348387,7851.290323,6.161290,3412,2784
새롬동,80.992821,66054.370662,10.195584,14254,15136
소담동,79.421503,56853.738302,11.202773,15963,16440
소정면,60.480476,6392.857143,6.571429,1278,1131
아름동,85.020698,35044.949764,11.605410,11660,11865
연동면,46.472096,6625.719101,4.921348,1628,1495
연서면,70.738062,11966.279070,5.387597,4046,3388
장군면,28.805141,2771.408451,2.633803,3785,2836
전동면,49.380000,5652.380952,2.142857,1903,1606
전의면,56.668365,7903.365385,4.807692,2979,2611
조치원읍,82.511428,16970.891432,7.861848,22136,20653
종촌동,80.286730,39196.429032,12.029032,14327,15209
한솔동,90.959136,40881.186555,10.190724,9431,9777

In [139]:
cnty_stat =cnty_stat.rename(columns={'202012_남자(총_거주자_수)': '남자인구수','202012_여자(총_거주자_수)':'여자인구수'})

In [140]:
cnty_stat

        전용면적(㎡)      거래금액(만원)          층  남자인구수  여자인구수
고운동   75.812906  34431.779738  10.310988  16800  17587
금남면   52.873269  13959.120370   7.951389   4616   4174
다정동   81.698369  62177.157095   9.966216  13189  14124
대평동   84.745504  73175.011976  10.574850   5454   5514
도담동   74.161839  44911.933291  10.904342  19118  20339
보람동   84.261626  65879.284211  10.589474   9507   9879
부강면   58.348387   7851.290323   6.161290   3412   2784
새롬동   80.992821  66054.370662  10.195584  14254  15136
소담동   79.421503  56853.738302  11.202773  15963  16440
소정면   60.480476   6392.857143   6.571429   1278   1131
아름동   85.020698  35044.949764  11.605410  11660  11865
연동면   46.472096   6625.719101   4.921348   1628   1495
연서면   70.738062  11966.279070   5.387597   4046   3388
장군면   28.805141   2771.408451   2.633803   3785   2836
전동면   49.380000   5652.380952   2.142857   1903   1606
전의면   56.668365   7903.365385   4.807692   2979   2611
조치원읍  82.511428  16970.891432   7.861848  22136  20653
종촌동   80.286730  39196.429032  12.029032  14327  15209
한솔동   90.959136  40881.186555  10.190724   9431   9777

In [146]:

cnty_stat['총인구수'] =cnty_stat['남자인구수'] + cnty_stat['여자인구수']
cnty_stat.to_csv('data/preprocess/행정동통계(2020).csv', encoding='utf-8')